@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: theme('colors.primary');
  overflow-x: hidden;
}

#hero-image img {
  max-width: none !important;
}

@keyframes glowEffect {
  0% {
    text-shadow:
      0 0 5px #00ffcc,
      0 0 10px #00ffcc;
  }
  50% {
    text-shadow:
      0 0 10px #9900ff,
      0 0 15px #9900ff;
  }
  100% {
    text-shadow:
      0 0 5px #0055ff,
      0 0 10px #0055ff;
  }
}

.animate-glow {
  animation: glowEffect 4s infinite alternate;
}

.glow-effect {
  filter: drop-shadow(0 0 8px #00ffcc);
}

/* @media (min-width: 1024px) {
  html {
    padding-left: 5rem;
    padding-right: 5rem;
  }
} */

@media (min-width: 1024px) and (max-width: 1200px) {
  #desktop-hero-text {
    width: 27rem !important;
  }
}

@media (min-width: 520px) and (max-width: 768px) {
  #hero-image {
    left: 8rem !important;
  }
  #ellipse {
    width: 28rem !important;
    height: 20rem !important;
  }
  #avatar {
    left: 3.5rem !important;
  }
  #circle {
    left: 11rem !important;
  }
}

@media (min-width: 520px) and (max-width: 768px) {
  #avatar {
    left: 7rem !important;
  }
  #download-btn {
    left: 5rem !important;
  }
}

/* @media (min-width: 768px) and (max-width: 1182px) {
  #hero-image {
    top: -1.5rem;
    right: -1rem;
  }
} */
